<mat-card>
  <h1>企業価値の計算</h1>
  <p>KxShareのアカウントのお持ちであればこちらの画面でファイルをアップロードしてください</p>
  <button mat-raised-button color='warn' *ngIf='isInputFlg' (click)='changeView()'>ファイルアップロード画面</button>
  <button mat-raised-button color='warn' *ngIf=!isInputFlg (click)='changeView()'>インプット画面へ</button>
  <section *ngIf='isInputFlg'>
    <form class="input-value">
      <div class="flex">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label for="netIncome">株主利益</mat-label>
            <input matInput [formControl]="netIncome">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="depreciation">減価償却費</mat-label>
            <input matInput [formControl]="depreciation">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="capitalInvestment">設備投資</mat-label>
            <input matInput [formControl]="capitalInvestment">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label for="roic">ROIC</mat-label>
            <input matInput [formControl]="roic">
          </mat-form-field>
        </div>
      </div>
    </form>
    <button mat-raised-button color='primary' (click)="calcCompanyValue()">計算</button>
  </section>

  <section *ngIf='!isInputFlg'>
    <app-load-excel></app-load-excel>
  </section>

  <div class="result">
    <h2>企業価値の一覧</h2>
    <table>
      <tr>
        <th>成長率</th>
        <th>現在価値</th>
        <th>超過リターン<br>現在価値</th>
        <th>資本コスト<br>現在価値</th>
      </tr>
      <tr *ngFor='let value of values'>
        <td>{{ value.per }}</td>
        <td>{{ value.PV }}</td>
        <td>{{ value.overReturnPV }}</td>
        <td>{{ value.investCostPV }}</td>
      </tr>
    </table>
  </div>
</mat-card>

<router-outlet></router-outlet>
